name: Build and push Intel and M1 images for testing
on:
  push:
    branches:
      - main

jobs:
  build-image:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_REGISTRY_USER }}
        password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

    - name: Build & Push
      uses: docker/build-push-action@v4
      id: built-image
      with:
        context: .
        file: ./docker/Dockerfile
        push: true
        platforms: linux/amd64
        tags: tiicrc/claasp-base:latest1
        target: claasp-base
        cache-from: type=gha,scope=claasp-base
        cache-to: type=gha,scope=claasp-base,mode=max
    
    - name: Build & Push (m1)
      uses: docker/build-push-action@v4
      id: built-image-m1
      with:
        context: .
        file: ./docker/Dockerfile
        push: true
        platforms: linux/arm64
        tags: tiicrc/claasp-m1-base:latest1
        target: claasp-base
        cache-from: type=gha,scope=claasp-base-m1
        cache-to: type=gha,scope=claasp-base-m1,mode=max